*
    margin 0
    padding 0

.movie
    width 100%
    &-head
        width 100%
        height 40px
        line-height 40px
        background-color #1e2025
        color #ffffff
        padding 0 10px
        box-sizing: border-box
        display flex
        .iconfont
            width 16px
        .title
            flex 1
            text-align: center
    &-info
        padding 15px
        background-color #1e2025
        &__desc
            display flex
            .info-pic
                width 122px
                height 165px
                overflow hidden
                img
                    width 100%
            .info-container
                flex 1
                color #9b9a9c
                font-size 12px
                margin-left 10px
                .name
                    color #ffffff
                    font-size 24
                    font-weight bold
                .type
                    margin-top 10px
                    font-size 14px
                .timer,.play-time
                    font-size 14px
                .btn-wrap
                    display flex
                    margin-top 10px
                    .flex
                        flex 1
                        background-color #58585b
                        height 32px
                        line-height 32px
                        color: #ffffff
                        text-align center
                        border-radius 4px
                        &:first-child
                            margin-right 10px
                        .iconfont
                            font-size 14px
                    





